.pastel-pink-purple{
    color: #E0BBE4 !important;
}
.pastel-purple{
    color: #957DAD !important;
}
.pastel-bold-semi-pink{
    color: #D291BC !important;
}
.pastel-pink{
    color: #FEC8D8 !important;
}
.pastel-blue{
    color: #809bce !important;
}