*{
    color: #265077;
    /* color :rgb(38,80,119); */
    color: #022140;
    /* color: rgb(2,33,64); */
    color: #494b68;
    /* color: rgb(73,75,104); */
    color: #1e4258;
    /* color: rgb(30,68,88); */
    color: #2d5f5d;
    /* color: rgb(45,95,93); */
}